.container {
  max-width: 900px;
  margin: 0 auto;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
button.btn {
  padding: 10px;
  border: 1px solid;
  color: bisque;
}
.tab {
  background-color: antiquewhite;
}
button.active {
  background-color: bisque;
  color: brown;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
